@font-face {
  font-family: NewsCylceReg;
  src: url(../font/NewsCycle-Regular.ttf);
}

@font-face {
  font-family: NewsCycleBold;
  src: url(../font/NewsCycle-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: NewsCylceReg, Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  font-family: NewsCylceBold, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
  font-family: NewsCylceBold, Arial, Helvetica, sans-serif;
}

h3 {
  font-size: clamp(2rem, 2vw, 2rem);
  font-family: NewsCylceBold, Arial, Helvetica, sans-serif;
}

p,
label,
a {
  font-size: clamp(2rem, 2vw, 2rem);
}

a {
  text-decoration: none;
}

/* ! Header - Suchfeld */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b2a45;
  padding: 1rem;
  min-height: 100vh;
  border-bottom: 1px solid white;
}

.less-height {
  min-height: 50vh;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

form input[type="submit"],
form input[type="text"],
select {
  font-family: NewsCylceReg, Arial, Helvetica, sans-serif;
  font-size: clamp(1.8rem, 1.8vw, 1.8rem);
  padding: 0 5px;
  margin-left: 1.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1px #22465b;
  margin-bottom: 10px;
}

form input[type="submit"] {
  width: 10rem;
  cursor: pointer;
  background-color: white;
  color: #1b2a45;
  border: 1px solid white;

  padding: 3px 5px;
}

form input[type="submit"]:hover {
  color: white;
  background-color: #1b2a45;
}

.error {
  color: red;
  margin-bottom: 10px;
}

header img {
  /* max-width: 70%; */
}

/* ! Main - Ausgabe der Artikelübersichten */
main {
  background-color: #1b2a45;
  color: #1b2a45;
}

.search-output {
  padding: 5rem;

  display: none;
}

/* um search-output bei Suchausgabe anzeigen zu lassen */
.show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
}

/* um Willkommensbild bei Suchausgabe verschwinden zu lassen: */
.hide {
  display: none;
}

.search-output div {
  background-color: white;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.501);

  overflow: hidden;
}

.search-output div section {
  padding: 2rem 1rem;
}

.search-output img {
  font-family: NewsCylceReg, Arial, Helvetica, sans-serif;
}

.search-output h2 {
  margin-bottom: 10px;
}

.search-output p {
  margin-bottom: 20px;
}

.search-output h3 {
  margin-bottom: 20px;
}

.search-output a {
  color: #1b2a45;

  text-decoration: none;
  border: 1px solid #1b2a45;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.search-output a:hover {
  color: white;
  background-color: #1b2a45;
}

/* # Media Queries */
/* # Tablet 768px */
@media only screen and (max-width: 768px) {
  .search-output {
    grid-template-columns: repeat(2, 1fr);
  }

  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

/* # Tablet 567px */
@media only screen and (max-width: 567px) {
  .search-output {
    grid-template-columns: 1fr;
  }
}
